# Prerequisites
*.d

# Compiled Object files
*.cbp
*.layout
*.depend
*obj\*
*bin\*
*.slo
*.lo
*.o
*.obj
*\bin\*
*.pdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User defined
*.cbp
*.layout
*.depend
*.user